$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.jumbotron{
  background-image: asset-url('background03.jpg');
  background-size: cover;
  height: 950px;
  length: 950px;
}

.jumbotron h1{
  color: #fff;
  text-align: center;
  padding-top: 100px;
  margin-top: 100px;
  margin-bottom: 60px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

footer {
  margin-top: 15px;
  padding-top: 5px;
  margin-bottom: 30px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}