<div class= "container">
  <footer class= "footer">
    <small>
      Copyright &copy; <a href= "https://github.com/Ziyi1215/Cord-Cutting-Calculator">Github</a>
      by A-Grade
    </small>
  </footer>
</div>